<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <%- messages() %>
  <div class="form">
    <form action="/account/login" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="account_email" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="account_password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p>No account? <a href="/account/register">Sign-up here</a></p>
  </div>
</body>