<h1>Welcome to CSE Motors!</h1>
<img class="hero" src="../public/images/vehicles/delorean.jpg" alt="Delorean car drawing.">

<section>
    <h2>DMC Delorean</h2>
    <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy Dice!</li>
    </ul>
    <button><img src="../public/images/site/own_today.png" alt="Own Today"></button>
</section>

<section>
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>

<section>
    <h2>Delorean Upgrades</h2>
    <figure>
        <img src="../public/images/upgrades/flux-cap.png">
        <figcaption><a>Flux Capacitor</a></figcaption>
    </figure>
    <figure>
        <img src="../public/images/upgrades/flame.jpg">
        <figcaption><a>Flame Decals</a></figcaption>
    </figure>
    <figure>
        <img src="../public/images/upgrades/bumper_sticker.jpg">
        <figcaption><a>Bumper Stickers</a></figcaption>
    </figure>
    <figure>
        <img src="../public/images/upgrades/hub-cap.jpg">
        <figcaption><a>Hub Caps</a></figcaption>
    </figure>
</section>