/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

:root{
  --main: #A0B5DD;
  --transparent-main: #A0B5DD80;
  --dark: #050B1C;
  --light: white;
}

body {
  overflow-x: hidden;
  width: 100%;
}

#wrapper{
  width: 100%;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.siteName a{
  font-size: 2rem;
  font-weight: 700;
  font-family: "Electrolize", sans-serif;
}

#tools a{
  padding: 0.5rem 1rem;
}

#tools a:hover{
  background-color: var(--main)
}

/* navigation */
nav{
  padding: 1rem;
  background-color: var(--main);
  width: 100%;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a{
  padding: 0.5rem;
}

nav a:hover{
  background-color: var(--light);
}

/* main */
h1,
h2, 
h3{
  font-family: "Electrolize", sans-serif;
  padding: 1rem;
}

h1{
  font-size: 2.3rem;
}

a{
  text-decoration: none;
  color: var(--dark);
}

.hero{
  display: block;
  margin: 0 auto 1rem auto;
  padding: 2rem 0 3rem 6rem;
  border-bottom: 2px solid var(--main);
}

/* flash message */
.notice{
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  list-style: none;
  background-color: rgba(0, 81, 255, 0.164);
  border-left: 10px solid darkblue;
  width: 60%;
}

.errors, .error{
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  list-style: none;
  background-color: rgba(255, 0, 0, 0.164);
  border-left: 10px solid darkred;
  width: 60%;
}

.success{
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  list-style: none;
  background-color: rgba(0, 255, 64, 0.164);
  border-left: 10px solid darkgreen;
  width: 60%;
}

/* login & registration */
.form{
  background-color: rgb(67, 77, 109);
  border-radius: 10px;
  margin: 1rem auto;
  padding: 1rem;
  width: 40%;
  border: 2px solid var(--dark);
}

.form input{
  display: block;
  width: 95%;
  height: 2rem;
}

.form label{
  color: var(--light);
  font-size: 1.25rem;
}

.form button{
  display: block;
  margin: 1rem auto;
  font-size: large;
  padding: 0.25rem 2rem;
}

.form p{
  text-align: center;
  color: var(--light);
  padding: 1rem;
}

.input-hint{
  text-align: left;
  background-color: var(--main);
  padding: 1rem;
  margin: 1rem;
}

.form a{
  text-decoration: underline;
  color: var(--light);
}

 input:required:valid {
 background-color: rgb(120, 187, 120);
 }

/* floating section */
.floating{
  position: absolute;
  background-color: var(--transparent-main);
  padding: 0.5rem;
  top: 30%;
  left: 10%;
}

.floating h2{
  font-size: 1rem;
}

.floating ul{
  padding-left: 1rem;
  list-style: none;
}

.floating button{
  margin: 0.5rem;
}

.floating button img{
  width: 100px;
  height: auto;
}

/* content layout */
.home-layout h2{
  padding: 1rem;
}

/* upgrades */
.upgrades{
  padding: 0.25rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.upgrades figure{
  background-color: var(--main);
  padding: 1rem;
  border: 1px solid var(--dark);
}

.upgrades img{
  display: block;
  margin: 0 auto;
}

.upgrades figcaption{
  text-align: center;
}

/* reviews */
.reviews li{
  padding: 0.5rem 0 1.2rem 1rem;
}

/* category heading */
.category{
  text-align: center;
}

/* error */
.error-display{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.error-display p{
  padding-left: 2rem;
}

.error-display img{
  position: absolute;
  left: -80%;
  top: 30%;
}

/* inventory management */
.management-links{
  padding-left: 2rem;
}

/* inventory display */
#inv-display{
  display: block;
  margin: 0 auto;
}

#inv-display li{
  background-color: var(--transparent-main);
  border: 2px solid var(--main);
  border-radius: 8px;
  width: 275px;
  margin: 0 auto;
  list-style: none;
}

#inv-display img{
  display: block;
  margin: 1rem auto;
}

.namePrice{
  text-align: center;
}

/* inventory classification and table */
.inventory p, #inventoryDisplay{
  padding: 0 1rem;
}

tr, td, th{
  padding: 0.25rem 1rem;
}

thead{
  background-color: var(--main);
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

/* add inventory form */
#classificationList{
  padding: 0.25rem;
  margin: 0.5rem 1rem;
  display: block;
}

.form textarea{
  display: block;
  width: 95%;
  height: 100px;
}

.manage p{
  padding-left: 1rem;
}

/* footer */
footer{
  padding: 1rem;
  text-align: center;
}
